Options -MultiViews
RewriteEngine On
RewriteBase /

# Trimite toate cererile către index.html dacă fișierul/directorul nu există
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
